li {
	margin-bottom: 25px;
}

.page-info {
	h1 {
		color: $white;
		margin-top: 0;
	}
}

.image-showcase {
	@extend .text-center;
	margin-top: 15px;
	margin-bottom: 15px;

	img {
		width: 100%;
	}

	@media #{$md-bp} {
		@include make-md-column(10);
		@include make-md-column-offset(1);
		margin-top: 30px;
		margin-bottom: 30px;
	}
}