.section-featured-news {
	padding-bottom: 50px;
}

.section-about {
	padding-bottom: 115px;
	background: url("../img/about_pencil.png") no-repeat 80px bottom;

	.solution {
		padding: 8px;
		margin-bottom: 25px;
		width: 50%;
		float: left;

		&:nth-child(1),
		&:nth-child(2) {
			border-bottom: solid 1px $divider-grey;
		}

		&:nth-child(even) {
			border-left: solid 1px $divider-grey;
		}
	}

	.solution__icon {
		float: left;
		margin: 8px 5px 0 0;
	}

	.solution__type {
		font-family: $font-pri-bold;
		margin: 0;
	}
}

.section-testimonials {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
