/*-----------------------------------------------------------------------
 | MEDIA QUERIES
 -----------------------------------------------------------------------*/
// breakpoints
$md-bp: "only screen and (min-width: $screen-sm)";


/*-----------------------------------------------------------------------
 | COLORS
 -----------------------------------------------------------------------*/
// Primary colors
$white: #fff;
$dark-blue: #00517c;
$blue: #00a7ea;
$orange: #f39700;

// Secondary colors
$label-blue: #0083b7;
$label-blue-light: $blue;
$label-yellow: #fcc700;
$label-orange: $orange;
$error-red: #c30004;
$table-blue: #f2fbfe;

// 50 shades of grey. (Close enough)
$bg-grey: #f7f7f7;
$divider-grey: #dddddd;
$placeholder-grey: #999999;
$caption-grey: #666666;
$nav-grey: #444444;
$body-copy-grey: #333333;
$footer-bg-grey: #222222;
$footer-text-grey: #aaaaaa;

// Bootstrap colors
$brand-danger: $error-red;
$state-danger-border: $error-red;
$state-danger-text: $error-red;


/*-----------------------------------------------------------------------
 | TYPOGRAPHIES
 -----------------------------------------------------------------------*/
// Base fonts
$font-size-base: 16px;
$font-family-sans-serif: "Akkurat Pro" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
$font-pri-bold: "Akkurat Pro Bold" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
$font-pri-light: "Akkurat Pro Light", "Akkurat Pro" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
$font-fa: 'FontAwesome';
$font-pri: $font-family-sans-serif;
$headings-font-family: $font-pri-bold;
$font-family-base: $font-pri;

// Base header color
$headings-color: $dark-blue;

// Blockquote
$blockquote-font-size-sm: 22px;
$blockquote-font-size: 28px;

// Hr
$hr-border: $divider-grey;


/*-----------------------------------------------------------------------
 | GRIDS
 -----------------------------------------------------------------------*/
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$xs-gutter-width: 16px;

/*-----------------------------------------------------------------------
 | BUTTONS
 -----------------------------------------------------------------------*/
 // Louis buitton.
 /*
  	░░░░░░░░▄▄▄███░░░░░░░░░░░░░░░░░░░░
	░░░▄▄██████████░░░░░░░░░░░░░░░░░░░
	░███████████████░░░░░░░░░░░░░░░░░░
	░▀███████████████░░░░░▄▄▄░░░░░░░░░
	░░░███████████████▄███▀▀▀░░░░░░░░░
	░░░░███████████████▄▄░░░░░░░░░░░░░
	░░░░▄████████▀▀▄▄▄▄▄░▀░░░░░░░░░░░░
	▄███████▀█▄▀█▄░░█░▀▀▀░█░░▄▄░░░░░░░
	▀▀░░░██▄█▄░░▀█░░▄███████▄█▀░░░▄░░░
	░░░░░█░█▀▄▄▀▄▀░█▀▀▀█▀▄▄▀░░░░░░▄░▄█
	░░░░░█░█░░▀▀▄▄█▀░█▀▀░░█░░░░░░░▀██░
	░░░░░▀█▄░░░░░░░░░░░░░▄▀░░░░░░▄██░░
	░░░░░░▀█▄▄░░░░░░░░▄▄█░░░░░░▄▀░░█░░
	░░░░░░░░░▀███▀▀████▄██▄▄░░▄▀░░░░░░
	░░░░░░░░░░░█▄▀██▀██▀▄█▄░▀▀░░░░░░░░
	░░░░░░░░░░░██░▀█▄█░█▀░▀▄░░░░░░░░░░
	░░░░░░░░░░█░█▄░░▀█▄▄▄░░█░░░░░░░░░░
	░░░░░░░░░░█▀██▀▀▀▀░█▄░░░░░░░░░░░░░
	░░░░░░░░░░░░▀░░░░░░░░░░░▀░░░░░░░░░
 */
$btn-default-color: $white;
$btn-default-bg: #00a7ea;
$btn-border-radius-base: 50px;
$padding-base-vertical: 12px;
$padding-base-horizontal: 28px;


/*-----------------------------------------------------------------------
 | Navigations
 -----------------------------------------------------------------------*/
// Navbar
$navbar-height: 50px;
$navbar-border-radius: 0;
$navbar-padding-vertical: 0;
$navbar-margin-bottom: 0;
$navbar-default-bg: transparent;
$navbar-inverse-bg: $white;
$navbar-default-color: $white;
$navbar-default-mobile-color: $nav-grey;
$navbar-inverse-color: $nav-grey;
$navbar-default-link-color: $white;
$navbar-inverse-link-color: $nav-grey;
$navbar-default-link-hover-color: $dark-blue;
$navbar-inverse-link-hover-color: $dark-blue;
$grid-float-breakpoint: $screen-md;
$navbar-default-toggle-icon-bar-bg: $white; // Hamburger bar color.
$navbar-inverse-toggle-icon-bar-bg: $nav-grey;
$navbar-default-toggle-hover-bg: transparent;
$navbar-inverse-toggle-hover-bg: transparent;

// Breadcrumbs
$breadcrumb-bg: transparent;
$breadcrumb-color: $white;
$breadcrumb-active-color: $white;
$breadcrumb-padding-horizontal: 0;
$breadcrumb-padding-verticl: 0;
$breadcrumb-separator: ">";
$breadcrumb-font-size: 14px;


/*-----------------------------------------------------------------------
 | Forms
 -----------------------------------------------------------------------*/
$input-border-radius: 1px;
$input-border: $blue;
$input-color: $footer-bg-grey;


/*-----------------------------------------------------------------------
 | Tables
 -----------------------------------------------------------------------*/
$table-border-color: $divider-grey;
$table-cell-padding: 15px;
$table-bg-accent: $table-blue;

/*-----------------------------------------------------------------------
 | OTHER 'MEH' STUFF
 -----------------------------------------------------------------------*/
$transition-default: .3s ease-in-out;