//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb {
	padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
	margin-bottom: 0;
	display: none;
	list-style: none;
	background-color: $breadcrumb-bg;
	border-radius: $border-radius-base;
	text-transform: capitalize;

	@media #{$sm-bp} {
		display: block;
	}

	> li {
	display: inline-block;
	margin-bottom: 0;
	font-size: $breadcrumb-font-size;

		a {
			color: $breadcrumb-color;
			font-size: $breadcrumb-font-size;
		}

		+ li:before {
			// [converter] Workaround for https://github.com/sass/libsass/issues/1115
			$nbsp: "\00a0";
			content: "#{$breadcrumb-separator}#{$nbsp}"; // Unicode space added since inline-block means non-collapsing white-space
			padding: 0 5px;
			color: $breadcrumb-color;
		}
	}

	> .active {
		color: $breadcrumb-active-color;
	}
}
