/*-----------------------------------------------------------------------
 | FEATURED NEWS
 -----------------------------------------------------------------------*/
.feat-news-wrapper {
	overflow-x: auto;
	margin-bottom: 25px;
	margin-top: -78px;
	margin-right: -15px;

	// Hides scrollbar
	-ms-overflow-style: none;  // IE 10+
	overflow: -moz-scrollbars-none;  // Firefox
	&::-webkit-scrollbar {
		display: none;  // Safari and Chrome
	}

	@media #{$sm-bp} {
		overflow-x: hidden;
	}
}

.feat-news-swipe {
	width: 1000px; // Just a magic number

	@media #{$sm-bp} {
		width: 100%;
	}
}

/*-----------------------------------------------------------------------
 | GENERAL NEWS
 -----------------------------------------------------------------------*/
.news {
	position: relative;

	@media #{$sm-bp} {
		height: auto;
	}

	@at-root {
		#{&}--tall {
			@media #{$sm-bp} {
				max-height: 524px;
			}
		}

		#{&}--short {
			.news__title {
				@media #{$md-bp} {
					font-size: 22px;
				}
			}

			@media #{$sm-bp} {
				max-height: 247px;
				margin-bottom: 18px;
			}

			@media #{$md-bp} {
				margin-bottom: 30px;
			}
		}

		#{&}__overlay {
			position: relative;
			border-radius: 4px;
			background-clip: padding-box;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				border-radius: 4px;
				background-clip: padding-box;
				background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 70%);
			}
		}

		#{&}__img {
			width: 100%;
			border-radius: 4px;
		}

		#{&}__title {
			position: absolute;
			bottom: 0;
			margin: 0;
			padding: 15px 15px 12px;
			font-size: 18px;
			color: $white;

			@media #{$md-bp} {
				font-size: 26px;
			}
		}

		#{&}__category {
			position: absolute;
			bottom: 190px;
			left: 0;
			padding: 5px 15px;
			font-size: 12px;
			text-transform: capitalize;

			@media #{$sm-bp} {
				bottom: auto;
				top: -20px;
			}
		}

		#{&}__category--news {
			background-color: $label-orange;
		}

		#{&}__category--event {
			background-color: $label-blue;
		}

		#{&}__category--case {
			background-color: $label-yellow;

			color: $footer-bg-grey;
		}

		#{&}__category--webinar {
			background-color: $label-blue-light;
		}
	}
}