/*-----------------------------------------------------------------------
 | FEATURED NEWS
 -----------------------------------------------------------------------*/
.feat-news-wrapper {
	overflow-x: auto;
	margin-bottom: 25px;
	margin-top: -78px;
}

.feat-news-swipe {
	width: 800px; // Just a magic number
}

/*-----------------------------------------------------------------------
 | GENERAL NEWS
 -----------------------------------------------------------------------*/
.news {
	position: relative;

	@at-root {
		#{&}__overlay {
			position: relative;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 70%);
			}
		}

		#{&}__img {
			width: 100%;
		}

		#{&}__title {
			position: absolute;
			bottom: 0;
			margin: 0;
			padding: 15px 15px 12px;
			font-size: 18px;
			color: $white;

			#{$md-bp} {
				font-size: 26px;
			}
		}

		#{&}__category {
			position: absolute;
			bottom: 190px;
			left: 0;
			padding: 5px 15px;
			font-size: 12px;
			text-transform: capitalize;
		}

		#{&}__category--news {
			background-color: $label-orange;
		}

		#{&}__category--event {
			background-color: $label-blue;
		}

		#{&}__category--case {
			background-color: $label-yellow;

			color: $footer-bg-grey;
		}

		#{&}__category--webinar {
			background-color: $label-blue-light;
		}
	}
}
